@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-color: #1C1C2A;
    color: #FFFFF0;
  }
  .navContainer {
    width: 89%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
  }
  .logo {
    font-weight: bold;
    font-size: 2rem; /* Adjust size as needed */
  }
  .oasis {
    color: #FFCB47;
  }